<div class="row">
    <div class="small-12 columns">
        <dl class="tabs vertical" data-tab>
            <dd class="active"><a href="#panel1">Tab 1</a></dd>
            <dd><a href="#panel2">Tab 2</a></dd>
            <dd><a href="#panel3">Tab 3</a></dd>
            <dd><a href="#panel4">Tab 4</a></dd>
        </dl>
        <div class="tabs-content vertical">
            <div class="content active" id="panel1">
                <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
            </div>
            <div class="content" id="panel2">
                <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
            </div>
            <div class="content" id="panel3">
                <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
            </div>
            <div class="content" id="panel4">
                <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
            </div>
        </div>
    </div>
    <!--<div class="small-9 columns">-->
        <!---->
    <!--</div>-->
</div>
